.appwrap {
  position: relative;
  z-index: 0;
}

.background {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--wintheme);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
}

.bootscreen {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #010001;
  z-index: 2;
  display: grid;
  place-items: center;
  cursor: progress;
}

.lockscreen {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;

  &[data-unlock="true"] {
    opacity: 0;
  }

  &::after {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    transition: all 200ms ease-in-out;
  }

  &[data-blur="true"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.1);
  }
}

.bottomInfo {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.splashScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: all 200ms ease-in-out;

  &[data-faded="true"] {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-200px);
  }
}

.fadeinScreen {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(60px);
  transition: all 400ms ease-in-out;
  pointer-events: none;

  &[data-faded="false"] {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }

  &[data-unlock="true"] {
    opacity: 0;
  }

  .signInBtn {
    background: rgba(255, 255, 255, 0.2);
    font-size: 13px;
    padding: 4px 36px 6px;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }

    &:active {
      border: 2px solid transparent;
      background: rgba(255, 255, 255, 0.33);
    }
  }
}

.lockOpt {
  margin-top: 10px;

  .uicon {
    margin: 0 4px;
    cursor: pointer;

    &[data-payload="true"] {
      box-sizing: border-box;
      border: 1px solid #888;
    }
  }
}

.slowfadein {
  opacity: 1;
  animation: slowfadein 1s ease-in-out;
}

// Loader css
#loader {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
}
// https://docs.microsoft.com/en-us/fluent-ui/web-components/components/progress-ring

.update-screen {
position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 2;

  .update {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .update__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .update__content_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .bumper {
      margin-bottom: auto;
    }
  }

  .update__spinner {
    text-align: center;
    margin: 20px;
  }

  .update__text {
    text-align: center;
    color: #fbfdfd;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    &.header {
      margin-bottom: auto;
    }
    &.footer {
      margin-top: auto;
    }
  }

  
}

.update__loader {
  height: 50px;
  width: 50px;
  margin: 20px;

  .update__spinner {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    margin: 0;
    animation-name: rotate;
    animation-duration: 1.4s;
    animation-timing-function: cubic-bezier(0.05, 0.57, 0.63, 0.38);
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }

  .update__spinner--second {
    animation-delay: 0.2s;
  }

  .update__spinner--third {
    animation-delay: 0.4s;
  }

  .update__spinner--four {
    animation-delay: 0.6s;
  }

  .update__spinner--five {
    animation-delay: 0.8s;
  }

  .update__spinner--six {
    animation-delay: 1s;
  }

  .spinner__point {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: white;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0.7turn);
    }

    100% {
      transform: rotate(1.7turn);
    }
  }
}